.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 60px;
  text-transform: uppercase;
}
.statList {
  display: flex;
  justify-content: center;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 80px;
}
.label {
  color: black;
  margin-bottom: 20px;
}

.percentage {
  color: black;
  font-size: 24px;
  font-weight: 700;
}
